@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-inner {
	min-height: 250px;

	.textItalic {
		font-weight: 400;
		font-style: italic;
	}

	.textBold {
		font-weight: 700;
		font-style: normal;
	}

	.textBold.textItalic {
		font-weight: 700;
		font-style: italic;
	}

	.textStrikethrough {
		text-decoration: line-through;
	}

	.textUnderline {
		text-decoration: underline;
	}

	p {
		font-size: theme(fontSize.lg);
		@apply leading-relaxed;
	}

	[contenteditable] {
		@apply mt-8;
		&:focus-visible {
			outline: none;
		}

		+ .placeholder {
			color: theme('colors.gray.400');
		}

		&:focus {
			+ .placeholder {
				color: transparent;
			}
		}
	}
}
